{% extends 'base/base.html' %}
{% if user.is_authenticated %}

<head>
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
{% block content %}


<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button class="border-solid " type="submit", name="save">Create new</button>
</form>
{% endblock %}
    {% else %}
    <h1 class="not-logged-in-title">It seems you aren't logged in</h1>
    <div class="not-logged-in">
    <a href="/login">Click here to log in</a>
    </div>
{% endif %}
