{% extends 'base/base.html' %}
{% if user.is_authenticated %}

<head>
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
{% block content %}
<ul>

   <!-- {% for item in list %}
    <li>
        {{ item.name }}
    </li>
    {% endfor %}
-->
</ul>


<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit", name="save">Create new</button>
</form>
{% endblock %}
    {% else %}
    <h1 class="not-logged-in-title">It seems you aren't logged in</h1>
    <div class="not-logged-in">
      <a href="/login">Click here to log in</a>
    </div>
{% endif %}