<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handleliste</title>
</head>
<body>
   <h1>Handleliste!</h1> 
        <form method="post" action="#">
            {% csrf_token %}

            <button type="submit", name="save", value="save">save</button>
            <input type="text", name="new">
            <button type="submit", name="newItem", value="newItem">Add item</button>
        </form>

</body>
</html>