{% load static tailwind_tags %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <title>Log in</title>
        {% tailwind_css %}   
        <link href="/static/main.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="text-3xl font-bold underline">hello world</h1>
        <div class="container">
            <form method="POST">
                    <h1>Log in</h1>
                    {% csrf_token %}
                    {% for non_field_error in form.non_field.errors %}
                        <p class="error">{{ non_field_error }}</p>
                    {% endfor %}
                    {% for field in form %}
                        <div class="field">
                            <label for="{{ field.id_for_label }}" class="label">{{ field.html_name }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text }}</p>
                            {% endif %}
                            {% for error in field.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                <button type="submit" class="submit">Log in</button>
            </form>
            <p>don't have an account?</p>
            <a href="/register">register one here</a>
        </div>
    </body>
</html>
